<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>signup page</h1>
    <form action="/signup" method="POST">
      <input type="text" name="name" placeholder="name" autocomplete="off" />
      <br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="off"
      />
      <br />
      <input type="submit" />

      <h3>Don't have an account ?</h3>

      <a href="/">Login page</a>

    </form>
  </body>
</html>