<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>user registration form</h2>

    <form action="/create" method="post" style="display: flex; flex-direction: column; width: 30%; gap: 30px;">
        <input type="text" placeholder="username" name="username" style="height: 35px;">
        <input type="email" placeholder="email" name="email" style="height: 35px;">
        <input type="password" placeholder="password" name="password"style="height: 35px;">
        <input type="number" placeholder="age" name="age"style="height: 35px;">
        <input type="submit" value="create user">
    </form>
</body>
</html>